<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- /employee -->
	<servlet>
		<servlet-name>RuzenaFit Server</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<!-- BEGIN Jersey's needed parameters -->
		<init-param>
			<!-- Jersey's property string -->
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<!-- The package that Jersey expects RESTs to be in -->
			<param-value>edu.berkeley.eecs.ruzenafit</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<!-- END Jersey's needed parameters -->
	</servlet>
	<servlet-mapping>
		<servlet-name>RuzenaFit Server</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<!-- Servlets -->
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>edu.berkeley.eecs.ruzenafit.GreetingServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/ruzenafit_server/greet</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>RuzenaFit_Server.html</welcome-file>
	</welcome-file-list>

</web-app>
